<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./grid2.css">
</head>

<body>
    <h2 class="line">三列等分后、第一行占两份</h2>
    <div class="content-box-3">
        <div style="background-color: #cbcc9d" class="box1-1">yiyuiyui</div>
        <div style="background-color: #B4B4B4" class="box2">yiyuiyui</div>
        <div style="background-color: #a80f0f" class="box3">yiyuiyui</div>
        <div style="background-color: #868686" class="box4">yiyuiyui</div>
        <div style="background-color: #777777" class="box5">yiyuiyui</div>
        <div style="background-color: #c4993a" class="box6">yiyuiyui</div>
        <div style="background-color: #595959" class="box7">yiyuiyui</div>
        <div style="background-color: #4A4A4A" class="box8">yiyuiyui</div>
        <div style="background-color: #e2a97a" class="box9">yiyuiyui</div>
    </div>
    <h2 class="line">三列等分后、第一行占三份</h2>
    <div class="content-box-3">
        <div style="background-color: #cbcc9d" class="box1-2">yiyuiyui</div>
        <div style="background-color: #B4B4B4" class="box2">yiyuiyui</div>
        <div style="background-color: #a80f0f" class="box3">yiyuiyui</div>
        <div style="background-color: #868686" class="box4">yiyuiyui</div>
        <div style="background-color: #777777" class="box5">yiyuiyui</div>
        <div style="background-color: #c4993a" class="box6">yiyuiyui</div>
        <div style="background-color: #595959" class="box7">yiyuiyui</div>
        <div style="background-color: #4A4A4A" class="box8">yiyuiyui</div>
        <div style="background-color: #e2a97a" class="box9">yiyuiyui</div>
    </div>
    <h2 class="line">三列等分后、第二行第二个开始占2份</h2>
    <div class="content-box-3">
        <div style="background-color: #cbcc9d" class="box1">yiyuiyui</div>
        <div style="background-color: #B4B4B4" class="box2">yiyuiyui</div>
        <div style="background-color: #a80f0f" class="box3">yiyuiyui</div>
        <div style="background-color: #868686" class="box4">yiyuiyui</div>
        <div style="background-color: #13d678" class="box5-3">yiyuiyui</div>
        <div style="background-color: #c4993a" class="box6">yiyuiyui</div>
        <div style="background-color: #595959" class="box7">yiyuiyui</div>
        <div style="background-color: #4A4A4A" class="box8">yiyuiyui</div>
        <div style="background-color: #e2a97a" class="box9">yiyuiyui</div>
    </div>
    <h2 class="line">行和列同时选择</h2>
    <div class="content-box-3">
        <div style="background-color: #cbcc9d" class="box1-4">yiyuiyui</div>
        <div style="background-color: #B4B4B4" class="box2">yiyuiyui</div>
        <div style="background-color: #a80f0f" class="box3">yiyuiyui</div>
        <div style="background-color: #868686" class="box4">yiyuiyui</div>
        <div style="background-color: #13d678" class="box5">yiyuiyui</div>
        <div style="background-color: #c4993a" class="box6">yiyuiyui</div>
        <div style="background-color: #595959" class="box7">yiyuiyui</div>
        <div style="background-color: #4A4A4A" class="box8">yiyuiyui</div>
        <div style="background-color: #e2a97a" class="box9">yiyuiyui</div>
    </div>
    <h2 class="line">配置两个盒子重叠</h2>
    <div class="content-box-3">
        <div style="background-color: #cbcc9d" class="box1-5">yiyuiyui</div>
        <div style="background-color: #B4B4B4" class="box2">yiyuiyui</div>
        <div style="background-color: #a80f0f" class="box3">yiyuiyui</div>
        <div style="background-color: #868686" class="box4-5">yiyuiyui</div>
        <div style="background-color: #13d678" class="box5">yiyuiyui</div>
        <div style="background-color: #c4993a" class="box6">yiyuiyui</div>
        <div style="background-color: #595959" class="box7">yiyuiyui</div>
        <div style="background-color: #4A4A4A" class="box8">yiyuiyui</div>
        <div style="background-color: #e2a97a" class="box9">yiyuiyui</div>
    </div>
</body>

</html>