<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./grid4.css">
</head>

<body>
    <div class="content-box">
        <div style="background-color: #985d6e" class="header">header</div>
        <div style="background-color: #cbcc9d" class="box1">header</div>
        <div style="background-color: #329b3d" class="box2">menu</div>
        <div style="background-color: #a80f0f" class="box3">main</div>
        <div style="background-color: #886b13" class="box4">footer</div>
        <div style="background-color: #8762cb" class="box5">menu</div>
        <div style="background-color: #99a37d" class="box6">main</div>
        <div style="background-color: #868686" class="box7">footer</div>
    </div>

</body>

</html>