<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./grid3.css">
</head>

<body>
    <div class="content-box">
        <div style="background-color: #cbcc9d" class="box1">header</div>
        <div style="background-color: #B4B4B4" class="box2">menu</div>
        <div style="background-color: #a80f0f" class="box3">main</div>
        <div style="background-color: #868686" class="box4">footer</div>
    </div>
    
</body>

</html>