<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./grid.css">
</head>

<body>
    <div class="content-box-3">
        <div style="background-color: #cbcc9d">yiyuiyui</div>
        <div style="background-color: #B4B4B4">yiyuiyui</div>
        <div style="background-color: #a80f0f">yiyuiyui</div>
        <div style="background-color: #868686">yiyuiyui</div>
        <div style="background-color: #777777">yiyuiyui</div>
        <div style="background-color: #c4993a">yiyuiyui</div>
        <div style="background-color: #595959">yiyuiyui</div>
        <div style="background-color: #4A4A4A">yiyuiyui</div>
        <div style="background-color: #e2a97a">yiyuiyui</div>
    </div>
    <h2 class="line">三列等分</h2>
    <div class="content-box-4">
        <div style="background-color: #D3D3D3">yiyuiyui</div>
        <div style="background-color: #B4B4B4">yiyuiyui</div>
        <div style="background-color: #21b374">yiyuiyui</div>
        <div style="background-color: #868686">yiyuiyui</div>
        <div style="background-color: #777777">yiyuiyui</div>
        <div style="background-color: #bc1b1b">yiyuiyui</div>
        <div style="background-color: #595959">yiyuiyui</div>
        <div style="background-color: #4A4A4A">yiyuiyui</div>
        <div style="background-color: #3B3B3B">yiyuiyui</div>
    </div>
    <h2 class="line">四列等分</h2>
    <div class="content-box-3-2">
        <div style="background-color: #908743">yiyuiyui</div>
        <div style="background-color: #B4B4B4">yiyuiyui</div>
        <div style="background-color: #bd1b1b">yiyuiyui</div>
        <div style="background-color: #868686">yiyuiyui</div>
        <div style="background-color: #777777">yiyuiyui</div>
        <div style="background-color: #686868">yiyuiyui</div>
        <div style="background-color: #373794">yiyuiyui</div>
        <div style="background-color: #4A4A4A">yiyuiyui</div>
        <div style="background-color: #4e4f38">yiyuiyui</div>
    </div>
    <h2 class="line">三列中间占2份、两边各1份</h2>
    <div class="content-box-3-3">
        <div style="background-color: #c02323">yiyuiyui</div>
        <div style="background-color: #B4B4B4">yiyuiyui</div>
        <div style="background-color: #A5A5A5">yiyuiyui</div>
        <div style="background-color: #2d9721">yiyuiyui</div>
        <div style="background-color: #777777">yiyuiyui</div>
        <div style="background-color: #686868">yiyuiyui</div>
        <div style="background-color: #595959">yiyuiyui</div>
        <div style="background-color: #841717">yiyuiyui</div>
        <div style="background-color: #3B3B3B">yiyuiyui</div>
    </div>
    <h2 class="line">三行三列、列边距10、行边距20</h2>
    <div class="content-box-3-3-10">
        <div style="background-color: #bfeb12">yiyuiyui</div>
        <div style="background-color: #B4B4B4">yiyuiyui</div>
        <div style="background-color: #A5A5A5">yiyuiyui</div>
        <div style="background-color: #2d9721">yiyuiyui</div>
        <div style="background-color: #777777">yiyuiyui</div>
        <div style="background-color: #686868">yiyuiyui</div>
        <div style="background-color: #595959">yiyuiyui</div>
        <div style="background-color: #841717">yiyuiyui</div>
        <div style="background-color: #3B3B3B">yiyuiyui</div>
    </div>
    <h2 class="line">三行三列、边距10、第一行元素40</h2>
    <div class="content-box-3-3-amazing">
        <div style="background-color: #bfeb12">yiyuiyui</div>
        <div style="background-color: #B4B4B4">yiyuiyui</div>
        <div style="background-color: #A5A5A5">yiyuiyui</div>
        <div style="background-color: #2d9721">yiyuiyui</div>
        <div style="background-color: #777777">yiyuiyui</div>
        <div style="background-color: #686868">yiyuiyui</div>
        <div style="background-color: #595959">yiyuiyui</div>
        <div style="background-color: #841717">yiyuiyui</div>
        <div style="background-color: #3B3B3B">yiyuiyui</div>
    </div>
    <h2 class="line">三行三列、边距10、第一行元素40、第一列元素60</h2>
</body>

</html>